/.bloop/
/.bsp/
/.metals/
/.vscode/
/.idea/
/null/
/target/
/project/*
!/project/Dependencies.scala
!/project/build.properties
!/project/plugins.sbt

/logs/
/reports/
/csv_chart/
logback.xml

.scalafmt.conf
.scalafix.conf